header {
  background: $white;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 3;
  transition: all 0.5s ease;
  a.navbar-brand {
    display: inline-block;
    padding: 10px 0;
    color: #777;
    font-size: 18px;
    line-height: 20px;
    h1 {
      color: #cccccc;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 20px;
      line-height: 1;
      span {
        color: #000000;
      }
    }
  }
  .navbar-toggler-icon {
    padding-top: 10px;
  }
  .navbar-collapse {
    z-index: 1;
    .navbar-nav {
      @include media-breakpoint-down(sm) {
        background: rgba(52, 59, 64, 0.9);
        -webkit-box-shadow: 0 20px 45px -10px rgba(0, 0, 0, 0.15);
        box-shadow: 0 20px 45px -10px rgba(0, 0, 0, 0.15);
        li {
          margin-left: 20px;
          padding: 10px;
          a {
            color: $white !important;
            font-size: 12px;
          }
        }
      }
    }
    ul {
      li {
        display: inline-block;
        padding: 0px 10px;
        a {
          font-size: 11px;
          padding-top: 2rem;
          padding-bottom: 2rem;
          padding-left: 20px;
          padding-right: 20px;
          font-weight: 500;
          color: #4d4d4d;
          text-transform: uppercase;
          letter-spacing: 2px;
          position: relative;
          opacity: 1 !important;
          &::before{
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            bottom: 0;
            left: 0;
            background-color: $theme-color;
            visibility: hidden;
            -webkit-transform: scaleX(0);
            -ms-transform: scaleX(0);
            transform: scaleX(0);
            -webkit-transition: all 0.2s ease-in-out 0s;
            -o-transition: all 0.2s ease-in-out 0s;
            transition: all 0.2s ease-in-out 0s;
            z-index: -1;
          }
          &:hover {
            color: $white;
            transition: all 0.4s ease-in-out;
            &::before{
                visibility: visible;
                background-color: $theme-color;
                -webkit-transform: scaleX(1);
                -ms-transform: scaleX(1);
                transform: scaleX(1);
            }
          }
          @include media-breakpoint-down(md) {
            font-size: 9px;
          }
          @include media-breakpoint-down(sm) {
            font-size: 16px;
            font-weight: 600;
            padding: 0 !important;
          }
        }
        &.active {
          a {
            color: #4d4d4d !important;
            transition: all 0.4s ease-in-out;
            &:hover {
                color: $white !important;
                transition: all 0.4s ease-in-out;
            }    
          }
        }
      }
    }
  }
  .fixed-header {
    background: $white;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 20;
    padding: 20px 16px;
    height: 72px;
    transition: all 0.5s;
    .navbar-brand {
      color: $black !important;
    }
    ul {
      li {
        a {
          color: $black !important;
          transition: 0.3 all ease-in-out;
        }
      }
    }
    &.active {
      color: $theme-color !important;
      transition: all 0.4s ease-in-out;
    }
    // .navbar-nav{
    //     .active{
    //         color: $theme-color !important;
    //     }
    // }
    .functional-buttons {
      ul {
        li {
          &:first-child a {
            border: 2px solid $theme-color !important;
            color: $theme-color !important;
          }
        }
      }
      .navbar-toggler {
        border: 2px solid $theme-color;
      }
    }
  }
}
