#testimony-section{
    position: relative;
    background: #8fd0d2 !important;
    padding: 60px 0;
    margin-bottom: 60px;
    .heading-section{
        h2{
            color: #000000;
        }
        span{
            color: #000000;
            font-size: 12px;
        }
    }
    .testimonial-box{
        background: $white;
        padding: 20px;
        border-radius: 5px;
        border: 1px solid rgba(0, 0, 0, 0.02);
        -webkit-box-shadow: 0px 30px 33px -41px rgba(0, 0, 0, 0.24);
        -moz-box-shadow: 0px 30px 33px -41px rgba(0, 0, 0, 0.24);
        box-shadow: 0px 30px 33px -41px rgba(0, 0, 0, 0.24);
        p{
            font-size: 14px;
            line-height: 1.8;
            font-weight: 400;
            color: gray;
        }
        img{
            width: 80px;
            height: 80px;
            position: relative;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            border-radius: 50%;
        }
        .title-text{
            margin-left: 20px;
            h3{
                font-weight: 500;
                font-size: 20px;
                margin-bottom: 0;
                color: #000000;
                margin-top: 0;
            }
            span{
                font-size: 14px;
                color: #333333;
                line-height: 1.8;
                font-weight: 400;
            }
        }
    }
}